/* app css stylesheet */

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.img-button {
    width: 25%;
}

.successToast {
    background-color: green;
}

.transparent {
    opacity: 0;
}

#progressBar {
    margin: auto;
    margin-top: 50px !important;
    width: 100%;
    height: 70%;
}

.thick-border {
    padding: 10px;
    border: solid 5px #c9c9c9 !important;
    transition: border 0.3s;
    background-color: white !important;
    margin: 0;
    text-align: center;
    font-size: 250% !important;
}

.thick-border:focus {
    border: solid 5px #F44336 !important;
}

.top-row {
    margin-bottom: 0;
}

.game-buttons {
    text-align: center;
}

body {
    background-color: #FAFAFA;
    background-image: url(images/bg-portrait.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.start-button {
}

.quadrant {
    height: 15vh;
    width: 40vw;
    padding: 5px;
    /*-webkit-transition: all .5s ease .15s;
    -moz-transition: all .5s ease .15s;
    -o-transition: all .5s ease .15s;
    -ms-transition: all .5s ease .15s;
    transition: all .5s ease .15s;*/
}

.board {
    margin-top: 15%;
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .quadrant {
        height: 200px;
        width: 300px;
    }
    .board {
        margin-top: 2%;
    }
    #progressBar {
        width: 100%;
        height: 100px;
        margin-top: 20px !important;
    }
    .decision-button {
        height: 100%;
        line-height: 36px;
    }
    .answer {
        margin-bottom: 5px !important;
        height: 30px;
    }
}

.row {
    font-size: 0;
}

.question {
    text-align: center;
}
