<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" cview1ontent="IE=edge">
    <title>Logology</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css">
    <link rel="stylesheet" href="bower_components/csshake/dist/csshake.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="MainController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <div class="container">
        <div class="board">
            <div class="row top-row">
                <img class="quadrant quadrant1" src="{{part1}}" ng-hide="part1Hide">
                <img class="quadrant quadrant2" src="{{part2}}" ng-hide="part2Hide">
            </div>
            <div class="row">
                <img class="quadrant quadrant3" src="{{part3}}" ng-hide="part3Hide">
                <img class="quadrant quadrant4" src="{{part4}}" ng-hide="part4Hide">
            </div>
        </div>

        <h5 class="question">
		Can you guess each of the brand logos within 30 seconds?
	</h5>
        <h5 class="question">
            Current score: {{finalScore}}
    </h5>
        <div class="game-buttons">
            <button class="start-button btn-large red waves-effect waves-light" ng-click="startGame()"
                ng-hide="hide">Start</button>
            <div class="play-buttons" ng-hide="playButtonsHide">
                <input ng-keydown="$event.keyCode === 13 && guess()" class="thick-border answer"
                    placeholder="Guess here!">
                <button ng-click="showHint()" class="decision-button btn-large grey lighten-3 waves-effect waves-light black-text">Hint</button>
                <button ng-click="guess()" class="decision-button btn-large blue waves-effect waves-light">Guess!</button>
                <button ng-click="skip()" class="decision-button btn-large grey lighten-3 waves-effect waves-light black-text">Skip</button>
                <div id="progressBar"></div>
                <br>
                <h5 class="question">
                    {{itemLeft}}/{{itemCount}}
                </h5>
                <timer interval="1000" countdown="time" autostart="false" class="transparent"></timer>
            </div>
        </div>

    </div>


    <div ng-view></div>


    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBTEYtihMPJeI-tAp7kW0e8HPjRd71iA4I",
            authDomain: "logology-a4022.firebaseapp.com",
            databaseURL: "https://logology-a4022.firebaseio.com",
            projectId: "logology-a4022",
            storageBucket: "logology-a4022.appspot.com",
            messagingSenderId: "178609585789"
        };
        firebase.initializeApp(config);
    </script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.js"></script>
    <script src="bower_components/progressbar.js/dist/progressbar.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/min/locales.min.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="app.js"></script>
    <script src="maincontroller.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>

</html>
